---
layout: default
title: Home
---

<h1 class="post-header-title font-lato">Últimos Posts</h1>

{% for post in site.posts %}

<article class="post-article font-lato" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


  <footer class="post-footer">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
      {% endif %}
  </footer>

</article>

{% endfor %}
