<header>
  <div class="combo-perfil">
    <a href="{{ site.url }}"><img src="{{ site.image | prepend: site.url }}perfil.jpg" alt="foto do perfil" /></a>
    <h1>{{ site.site-name-header }}</h1>
    <p>{{  site.site-description-header }}</p>
    <p>
      <code>geisonnm@hotmail.com</code>
    </p>
    <ul>
      {% for icon in site.social-icons %}
          <li><a href="{{ icon.link }}" target="_blank"><i class="{{ icon.icon-path }}" aria-hidden="true"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</header>
