<header class="container">
  <div id="combo-perfil">
    <!-- <a class="first-description" href="{{ site.baseurl }}/">{{ site.author }}</a> -->
    <a href="#"><img src="{{ site.perfil-icon }}" alt="foto do perfil" /></a>
    <h1>{{ site.site-name-header }}</h1>
    <p>{{  site.site-description-header }}</p>
    <ul>
      {% for icon in site.social-icons %}
          <li><a href="{{ icon.link }}" target="_blank" class="social-icon"><i class="{{ icon.icon-path }}" aria-hidden="true"></i></a></li>
      {% endfor %}
      <!-- <li><a href="#" target="_blank" class="social-icon"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#" target="_blank" class="social-icon"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li> -->
    </ul>

  </div>
</header>



<nav id="site-nav">
  <ul>
    {% for my_page in site.pages %}
    {% if my_page.title %}
    <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
