/*
theme : Blog Geisson
author: Geisson Machado Antunes <geisonnm@hotmail.com>
github: https://github.com/geison20
*/


/*
  RESETS
*/

body, section, footer, main, header, article,
h1, h2, h3, h4, h5, h6, p, a, ul, li { margin: 0; padding: 0; }
a { text-decoration: none; color: #fff; }
ul li { list-style: none;}
body { background-color: #ddd;}
.font-lato { font-family: 'Lato', arial, sans-serif;}

/*
      MOBILE LAYOUT
*/

.container { display: flex; flex-flow: column nowrap;}

.content-1 {
  display: flex;
  flex-flow: column wrap;
  order: 1;
  background-color: #00796b;
}

/* perfil top layout */
.combo-perfil {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 25px ;
}

.combo-perfil img {
  width: 100%;
  max-width: 100px;
  border-radius: 100%;
}

.social-buttons li {
  display: inline-block;
  margin: 5px;
}

.name-header {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.description-header {
  color: #fff;
  font-size: 12px;
}

/* navbar */
.sidebar { text-align: center; padding: 10px;}
.sidebar ul li { display: inline; margin-right: 10px;}

/*
    MENU MOBLIE
*/
.content-2 {
  order: 2;
}

/*
  POSTS LAYOUT ALL
*/
.content-posts {
  /*max-width: 80%;
  margin: 0 auto;*/
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin: 10px 5px;
}

.posts-article {
  margin: 30px 5px;
  color: #333;
  font-size: 1.1em;
}
.posts-header { margin: 10px; }
.posts-header h1{ padding: 10px 0 10px 30px; border-left: 5px solid #2ca6cb}
.posts-header a { color: #2ca6cb; font-size: 1.2em; }

.informations  {
  margin: 10px 0;
  text-align:left;
  text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
  color: #828282;
  padding: 15px 0;
  border-bottom: 1px solid #cecece;
}
.informations p {
  margin-top: 10px;
}

.posts-content {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  margin: 10px;
}
.posts-footer { text-align: left; text-transform: uppercase; font-size: 10px; letter-spacing: 3px; padding: 10px; color: #fff; margin: 5px 0;}
.posts-footer a { background-color: #ddd; padding: 7px; border-radius: 100px; color: #817c7c; }
/*
  POST UNIQUE PAGE
*/
.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.post-header {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  padding: 10px;
  color: #263238;
  font-size: 20px;
}


/*
  FOOTER
*/

.content-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #fff;
}

.content-3 a {
  color: #428bca;
}


/*
  SOLO PAGES - ABOUT - PROJECTS
*/

.solo-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
}


/*
  END MOBILE LAYOUT
*/


/*
  WEB LAYOUT
*/

/* MIDIA QUERY*/
@media screen and (min-width: 768px){

  .container { display: flex; flex-flow: row nowrap;}

  .sidebar { padding: 0 ;}
  .sidebar ul li { padding: 20px 0; transition: background-color 0.5s ease-out; display: block; margin: 0;}
  .sidebar ul li:hover { transition: background-color 0.5s ease; background-color: #00695c;}

  .posts-header a:hover { color: #f4511e; font-size: 1.2em; transition: color 0.5s  }

  .posts-footer a:hover { background-color: #2ca6cb; padding: 7px; border-radius: 100px; color: #fff; transition: background-color 0.3s ease-out; }


  .content-1 {
    flex: 1 1 200px;
  }
  .content-2 {
    flex-flow: column nowrap;
    flex: 3 1 600px;
  }

  .content-posts { margin: 20px; }


}
