/*
theme : Blog Geisson
author: Geisson Machado Antunes <geisonnm@hotmail.com>
github: https://github.com/geison20
*/


/*
  RESETS
*/

body, section, footer, main, header, article,
h1, h2, h3, h4, h5, h6, p, a, ul, li { margin: 0; padding: 0; }
a { text-decoration: none; color: #fff; }
ul li { list-style: none;}
body { background-color: rgb(238, 238, 238);}
.font-lato { font-family: 'Lato', arial, sans-serif;}


/*
      MOBILE LAYOUT
*/

/* perfil top layout */
.combo-perfil {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 25px ;
  background: #00796b ;
}

.combo-perfil img {
  width: 100%;
  max-width: 100px;
  border-radius: 100%;
}

.social-buttons li {
  display: inline-block;
  margin: 5px;
}

.name-header {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.description-header {
  color: #fff;
  font-size: 12px;
}

/*
    MENU MOBLIE
*/
.content-2 {
  display: flex;
  flex-flow: column nowrap;
}

/* navbar */
.sidebar { text-align: center; }
.sidebar ul li { padding: 20px 0; background-color: #00796b ; transition: background-color 0.5s ease-out;}


/*
  POSTS LAYOUT ALL
*/

.posts-article {
  margin: 20px 10px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  color: #333;
  font-size: 1.1em;
}
.posts-header { margin: 10px; }

.informations  {
  margin: 10px 0;
  text-align:left;
  text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
  color: #828282;
}
.informations p {
  margin-top: 10px;
}
.posts-header a {
  color: #1976d2;
  font-size: 1.2em;
}
.posts-content {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  margin: 10px;
}
.posts-footer {
  text-align: center;
  text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
  padding: 10px;
  background-color: #00796b;
  color: #fff;
}
/*
  POST UNIQUE PAGE
*/
.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.post-header {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  padding: 10px;
  color: #263238;
  font-size: 20px;
}


/*
  FOOTER
*/
.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.footer a {
  color: #428bca;
}


/*
  SOLO PAGES - ABOUT - PROJECTS
*/

.solo-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
}


/*
  END MOBILE LAYOUT
*/


/*
  WEB LAYOUT
*/

/* MIDIA QUERY*/
@media screen and (min-width: 768px){

  .sidebar ul li:hover { transition: background-color 0.5s ease; background-color: #00695c;}

  .content-1 {
    display: flex;
    flex-flow: column wrap;
  }
  .content-2 {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  .posts-article {
    order: 1;
  }
  .sidebar {
    order: 2;
    flex: 1 1 200px;
    margin: 20px;
  }
  .content-posts {
    display: flex;
    flex-flow: column nowrap;;
    flex: 5 1 400px;
  }
  .footer {
    order: 3;
  }

}
