<!DOCTYPE html>
<html lang="{{ site.language }}">

  {% include head.html %}

  <body>
    <main role="main" class="container">

      <section class="content-1" role="heading">
        {% include header.html %}
      </section>

      <section class="content-2" role="article">

        <div class="content-posts">
          {{ content }}
          {% include pagination.html %}
        </div>

        <section class="content-3">
          {% include footer.html %}
        </section>

      </section>


    </main>
  </body>

</html>
