<!DOCTYPE html>
<html lang="{{ site.language }}">

  {% include head.html %}

  <body>
    <main>


    {% include header.html %}

    <div id="page-content">
      CONTEUDO
      <div class="wrapper">
        <!-- <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="dark" data-vanity="geisson-machado"><a class="LI-simple-link" href='https://br.linkedin.com/in/geisson-machado?trk=profile-badge'>Gêisson Machado Antunes</a></div> -->
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </main>
  </body>

</html>
